<div [hidden]="!showInline">
    {{value}}
    <button class="ng2edit-btn" (click)="showInline = !showInline">&crarr;</button>
    </div>
    <div [hidden]="showInline">
      <form #inlineForm="ngForm" method="POST" (ngSubmit)="onSubmit(inlineForm.value)" novalidate>
        <div class="input-group">
          <input type="text" class="ng2edit-input" [name]="name" [ngModel]="value" required />
            <button type="submit" class="ng2edit-btn-save" [disabled]="submitted || inlineForm.invalid">
              Save
            </button>
            <button type="button" class="ng2edit-btn-cancel" (click)="showInline = !showInline">
              Cancel
            </button>
            </div>
      </form>
    </div>
    