<div [hidden]="!showInline">
    {{input}}
    <button class="btn btn-link" (click)="showInline = !showInline"><i class="glyphicon glyphicon-pencil"></i></button>
    </div>
    <div [hidden]="showInline">
      <form #inlineForm="ngForm" (ngSubmit)="onSubmit(inlineForm.value)" novalidate>
        <div class="form-group">
          <input type="text" class="form-control input-sm" name="name" [ngModel]="input" required />
        </div>
        <button type="submit" class="btn btn-sm btn-primary" [disabled]="submitted || inlineForm.invalid">
          <i class="fa fa-check"></i>
        </button>
        <button type="button" class="btn btn-sm btn-danger" (click)="showInline = !showInline">
          <i class="fa fa-times"></i>
        </button>
      </form>
    </div>
    